* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: "Droid Sans", arial, verdana, sans-serif;
}

.container {
    margin: 0 auto;
    width: 900px;
    position: relative;
    z-index: 2;
}

.app{
    background-image: url('../../../public/images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.app::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 80%);
    z-index: 1;
}